{"openapi":"3.0.1","info":{"title":"EAP09 Reservas API","description":"Base API for Sprint 1 MVP bootstrap","version":"v1"},"servers":[{"url":"https://reservas-backend-prod.happypond-328540f7.eastus.azurecontainerapps.io","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"paths":{"/api/v1/providers/me/general-schedule/{dayOfWeek}":{"put":{"tags":["Provider Offer"],"summary":"Definir o reemplazar horario general semanal del proveedor autenticado","operationId":"upsertGeneralSchedule","parameters":[{"name":"dayOfWeek","in":"path","description":"Dia de la semana en mayusculas, por ejemplo LUNES","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeneralScheduleUpsertRequest"}}},"required":true},"responses":{"200":{"description":"Horario general definido correctamente","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelApiResponseGeneralScheduleResponse"}}}},"403":{"description":"Acceso permitido solo a proveedor","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Payload o rango horario invalido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/providers":{"post":{"tags":["Identity Access"],"summary":"Registrar una nueva cuenta de proveedor","operationId":"registerProvider","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderRegistrationRequest"}}},"required":true},"responses":{"201":{"description":"Cuenta de proveedor creada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProviderRegistrationResponse"}}}},"409":{"description":"Correo ya registrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Payload de registro invalido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/providers/me/services":{"post":{"tags":["Provider Offer"],"summary":"Registrar servicio para el proveedor autenticado","operationId":"registerService","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceRegistrationRequest"}}},"required":true},"responses":{"403":{"description":"Acceso permitido solo a proveedor","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Payload invalido o reglas de negocio incumplidas","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Nombre de servicio duplicado para el proveedor","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Servicio registrado correctamente","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelApiResponseServiceRegistrationResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/providers/me/services/{serviceId}/availabilities":{"post":{"tags":["Provider Offer"],"summary":"Crear franja de disponibilidad para un servicio del proveedor autenticado","operationId":"createAvailability","parameters":[{"name":"serviceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceAvailabilityCreateRequest"}}},"required":true},"responses":{"400":{"description":"Payload invalido o franja no valida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Servicio no encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Disponibilidad creada correctamente","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelApiResponseServiceAvailabilityResponse"}}}},"403":{"description":"Acceso permitido solo a proveedor autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Superposicion detectada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/clients":{"post":{"tags":["Identity Access"],"summary":"Registrar una nueva cuenta de cliente","operationId":"registerCustomer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerRegistrationRequest"}}},"required":true},"responses":{"201":{"description":"Cuenta de cliente creada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCustomerRegistrationResponse"}}}},"409":{"description":"Correo ya registrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Payload de registro invalido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/bookings":{"post":{"tags":["Customer Booking"],"summary":"Crear reserva para cliente autenticado","operationId":"createReservation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateReservationRequest"}}},"required":true},"responses":{"201":{"description":"Reserva creada correctamente","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelApiResponseCreateReservationResponse"}}}},"409":{"description":"Proveedor, servicio o franja no disponibles","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"No fue posible completar la reserva","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Acceso permitido solo para clientes autenticados","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Proveedor, servicio y franja son requeridos","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Entidad relacionada no encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/auth/sessions":{"post":{"tags":["Identity Access"],"summary":"Autenticar usuario con correo y contrasena","operationId":"createSession","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthenticationRequest"}}},"required":true},"responses":{"403":{"description":"Cuenta restringida o inactiva","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Payload invalido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Credenciales no validas","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Autenticacion exitosa","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAuthenticationResponse"}}}}}}},"/api/v1/users/me/profile":{"patch":{"tags":["Identity Access"],"summary":"Actualizar perfil propio del usuario autenticado","operationId":"updateOwnProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOwnProfileRequest"}}},"required":true},"responses":{"400":{"description":"Payload invalido o reglas de validacion incumplidas","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Perfil actualizado correctamente","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUpdateOwnProfileResponse"}}}},"401":{"description":"Autenticacion requerida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Sin cambios o correo duplicado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/providers/me/services/{serviceId}/status":{"patch":{"tags":["Provider Offer"],"summary":"Activar o inactivar un servicio propio del proveedor autenticado","operationId":"updateOwnServiceStatus","parameters":[{"name":"serviceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceStatusUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Payload invalido o estado objetivo no permitido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Autenticacion requerida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Servicio no encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"El servicio ya se encuentra en el estado solicitado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Estado del servicio actualizado correctamente","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelApiResponseServiceStatusUpdateResponse"}}}},"500":{"description":"No fue posible completar el cambio de estado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"El servicio no pertenece al proveedor autenticado o el usuario no es proveedor","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/providers/me/services/{serviceId}/availabilities/{availabilityId}/block":{"patch":{"tags":["Provider Offer"],"summary":"Bloquear franja de disponibilidad de un servicio del proveedor autenticado","operationId":"blockAvailability","parameters":[{"name":"serviceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"availabilityId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"403":{"description":"Acceso permitido solo a proveedor autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Disponibilidad no encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Disponibilidad bloqueada correctamente","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelApiResponseServiceAvailabilityResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/providers/me/bookings/{bookingId}/finalization":{"patch":{"tags":["Provider Booking"],"summary":"Finalizar una reserva atendida del proveedor autenticado","operationId":"finalizeOwnBooking","parameters":[{"name":"bookingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Reserva finalizada correctamente","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelApiResponseReservationFinalizationResponse"}}}},"404":{"description":"Reserva no encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Autenticacion requerida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Reserva no finalizable por estado o tiempo","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Acceso permitido solo para proveedor propietario","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Error interno al finalizar reserva","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/bookings/{bookingId}/reschedule":{"patch":{"tags":["Reservation"],"summary":"Reprogramar una reserva propia del cliente autenticado","description":"Actualiza la disponibilidad asociada a una reserva activa del cliente sin crear una nueva reserva ni perder trazabilidad.","operationId":"rescheduleOwnBooking","parameters":[{"name":"bookingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReservationReschedulingRequest"}}},"required":true},"responses":{"403":{"description":"Acceso permitido solo para cliente propietario","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Reserva reprogramada correctamente","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelApiResponseReservationReschedulingResponse"}}}},"400":{"description":"Payload invalido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Autenticacion requerida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Error interno al reprogramar reserva","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Reserva no reprogramable o disponibilidad destino no valida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Reserva o disponibilidad no encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/bookings/{bookingId}/cancellation":{"patch":{"tags":["Reservation"],"summary":"Cancelar una reserva propia del cliente autenticado","operationId":"cancelOwnBooking","parameters":[{"name":"bookingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"403":{"description":"Acceso permitido solo para cliente propietario","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Reserva no encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Error interno al cancelar reserva","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Autenticacion requerida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Reserva no cancelable por estado o tiempo","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Reserva cancelada correctamente","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelApiResponseReservationCancellationResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/users/{userId}/status":{"patch":{"tags":["Administration"],"summary":"Activar o inactivar la cuenta de un usuario registrado","operationId":"updateUserAccountStatus","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserAccountStatusUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Payload invalido o estado no valido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"La cuenta ya se encuentra en el estado solicitado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Estado de cuenta actualizado correctamente","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserAccountStatusUpdateResponse"}}}},"500":{"description":"No fue posible completar la actualizacion del estado de la cuenta","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Usuario objetivo no encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Autenticacion requerida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Usuario autenticado sin privilegios de administrador","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/users/{userId}/role":{"patch":{"tags":["Administration"],"summary":"Actualizar el rol de un usuario registrado","operationId":"updateUserRole","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRoleUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Usuario objetivo no encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Payload invalido o rol no valido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Autenticacion requerida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"No fue posible completar la actualizacion del rol","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Rol actualizado correctamente","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserRoleUpdateResponse"}}}},"409":{"description":"Rol ya asignado o usuario objetivo desactivado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Usuario autenticado sin privilegios de administrador","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/public/status":{"get":{"tags":["public-base-controller"],"operationId":"status","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelApiResponseString"}}}}}}},"/api/v1/providers/{providerId}/services/{serviceId}/availabilities":{"get":{"tags":["Customer Booking"],"summary":"Consultar horarios y cupos disponibles para una fecha especifica","operationId":"getAvailability","parameters":[{"name":"providerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"serviceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"date","in":"query","required":false,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Consulta de horarios y cupos procesada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelApiResponseListAvailabilityResponse"}}}},"400":{"description":"Proveedor, servicio y fecha son requeridos","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Acceso permitido solo para clientes autenticados","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Error interno al consultar disponibilidad","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/providers/me/bookings":{"get":{"tags":["Provider Booking"],"summary":"Consultar reservas operativas del proveedor autenticado","operationId":"getOwnBookings","parameters":[{"name":"date","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"serviceId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"401":{"description":"Autenticacion requerida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Parametros de consulta invalidos","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Acceso permitido solo para proveedor autenticado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Servicio filtrado no encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Error interno al consultar reservas","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Consulta operativa procesada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelApiResponseListProviderBookingResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/protected/status":{"get":{"tags":["protected-base-controller"],"operationId":"status_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/protected/provider-offer/bootstrap":{"get":{"tags":["provider-offer-root-controller"],"operationId":"bootstrap","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/protected/customer-booking/bootstrap":{"get":{"tags":["customer-booking-root-controller"],"operationId":"bootstrap_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/offers":{"get":{"tags":["Customer Booking"],"summary":"Consultar oferta disponible para clientes autenticados","operationId":"getAvailableOffers","responses":{"200":{"description":"Oferta consultada correctamente","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelApiResponseListOfferResponse"}}}},"403":{"description":"Acceso permitido solo para clientes autenticados","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Error interno al consultar la oferta","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/bookings/me":{"get":{"tags":["Reservation"],"summary":"Consultar reservas del cliente autenticado","operationId":"getOwnBookings_1","responses":{"401":{"description":"Autenticacion requerida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Acceso permitido solo para cliente autenticado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Consulta de reservas procesada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelApiResponseListCustomerReservationResponse"}}}},"500":{"description":"Error interno al consultar reservas","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/auth/bootstrap":{"get":{"tags":["identity-access-root-controller"],"operationId":"bootstrap_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/admin/reports/operational":{"get":{"tags":["Administration"],"summary":"Generar reporte operativo global de reservas","description":"Permite a un administrador autenticado generar un reporte operativo global basado en el historial de reservas, con filtros opcionales por rango de fechas.","operationId":"generateOperationalReport","parameters":[{"name":"from","in":"query","description":"Fecha inicial del rango de disponibilidad en formato yyyy-MM-dd","required":false,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"Fecha final del rango de disponibilidad en formato yyyy-MM-dd","required":false,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Reporte operativo generado correctamente","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOperationalReportResponse"}}}},"401":{"description":"Autenticacion requerida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Error interno al generar el reporte operativo","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Filtros invalidos","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Acceso permitido solo para administrador autenticado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"No existe historial suficiente para generar el reporte","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/bookings":{"get":{"tags":["Administration"],"summary":"Consultar reservas globales para supervision administrativa","description":"Permite a un administrador autenticado consultar reservas activas e historicas con filtros opcionales por cliente, proveedor, servicio, estado y rango de fechas.","operationId":"getReservations","parameters":[{"name":"customerId","in":"query","description":"Filtra por id del cliente propietario de la reserva","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"providerId","in":"query","description":"Filtra por id del proveedor asociado al servicio reservado","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"serviceId","in":"query","description":"Filtra por id del servicio reservado","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","description":"Filtra por estado de reserva, por ejemplo CREADA, CANCELADA o FINALIZADA","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Fecha inicial del rango de disponibilidad en formato yyyy-MM-dd","required":false,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"Fecha final del rango de disponibilidad en formato yyyy-MM-dd","required":false,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Consulta administrativa de reservas procesada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListAdminReservationSupervisionItemResponse"}}}},"401":{"description":"Autenticacion requerida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Error interno al consultar reservas administrativas","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Filtros invalidos","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Acceso permitido solo para administrador autenticado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/auth/sessions/current":{"delete":{"tags":["Identity Access"],"summary":"Cerrar de forma segura la sesion actual","operationId":"closeCurrentSession","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Sesion cerrada correctamente","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}},"401":{"description":"Autenticacion requerida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"No existe una sesion activa valida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"GeneralScheduleUpsertRequest":{"required":["horaFin","horaInicio"],"type":"object","properties":{"horaInicio":{"type":"string","example":"00:00:00"},"horaFin":{"type":"string","example":"00:00:00"}}},"ErrorResponse":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"},"details":{"type":"array","items":{"type":"string"}},"traceId":{"type":"string"}}},"EntityModelApiResponseGeneralScheduleResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/GeneralScheduleResponse"},"traceId":{"type":"string"},"_links":{"$ref":"#/components/schemas/Links"}}},"GeneralScheduleResponse":{"type":"object","properties":{"providerUserId":{"type":"integer","format":"int64"},"dayOfWeek":{"type":"string"},"horaInicio":{"type":"string","example":"00:00:00"},"horaFin":{"type":"string","example":"00:00:00"}}},"Links":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Link"}},"ProviderRegistrationRequest":{"required":["apellidos","contrasena","correo","nombres"],"type":"object","properties":{"nombres":{"maxLength":100,"minLength":0,"type":"string"},"apellidos":{"maxLength":100,"minLength":0,"type":"string"},"correo":{"maxLength":120,"minLength":0,"type":"string"},"contrasena":{"pattern":"^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[^A-Za-z\\d]).{8,64}$","type":"string"}}},"ApiResponseProviderRegistrationResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ProviderRegistrationResponse"},"traceId":{"type":"string"}}},"ProviderRegistrationResponse":{"type":"object","properties":{"idUsuario":{"type":"integer","format":"int64"},"correo":{"type":"string"},"rol":{"type":"string"},"estado":{"type":"string"}}},"ServiceRegistrationRequest":{"required":["capacidadMaximaConcurrente","descripcion","duracionMinutos","nombre"],"type":"object","properties":{"nombre":{"type":"string"},"descripcion":{"type":"string"},"duracionMinutos":{"type":"integer","format":"int32"},"capacidadMaximaConcurrente":{"type":"integer","format":"int32"}}},"EntityModelApiResponseServiceRegistrationResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ServiceRegistrationResponse"},"traceId":{"type":"string"},"_links":{"$ref":"#/components/schemas/Links"}}},"ServiceRegistrationResponse":{"type":"object","properties":{"idServicio":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"descripcion":{"type":"string"},"duracionMinutos":{"type":"integer","format":"int32"},"capacidadMaximaConcurrente":{"type":"integer","format":"int32"},"estadoServicio":{"type":"string"}}},"ServiceAvailabilityCreateRequest":{"required":["fecha","horaFin","horaInicio"],"type":"object","properties":{"fecha":{"type":"string","example":"2026-04-20"},"horaInicio":{"type":"string","example":"00:00:00"},"horaFin":{"type":"string","example":"00:00:00"}}},"EntityModelApiResponseServiceAvailabilityResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ServiceAvailabilityResponse"},"traceId":{"type":"string"},"_links":{"$ref":"#/components/schemas/Links"}}},"ServiceAvailabilityResponse":{"type":"object","properties":{"idDisponibilidad":{"type":"integer","format":"int64"},"serviceId":{"type":"integer","format":"int64"},"fecha":{"type":"string","example":"2026-04-20"},"horaInicio":{"type":"string","example":"00:00:00"},"horaFin":{"type":"string","example":"00:00:00"},"estadoDisponibilidad":{"type":"string"}}},"CustomerRegistrationRequest":{"required":["apellidos","contrasena","correo","nombres"],"type":"object","properties":{"nombres":{"maxLength":100,"minLength":0,"type":"string"},"apellidos":{"maxLength":100,"minLength":0,"type":"string"},"correo":{"maxLength":120,"minLength":0,"type":"string"},"contrasena":{"pattern":"^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[^A-Za-z\\d]).{8,64}$","type":"string"}}},"ApiResponseCustomerRegistrationResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CustomerRegistrationResponse"},"traceId":{"type":"string"}}},"CustomerRegistrationResponse":{"type":"object","properties":{"idUsuario":{"type":"integer","format":"int64"},"correo":{"type":"string"},"rol":{"type":"string"},"estado":{"type":"string"}}},"CreateReservationRequest":{"type":"object","properties":{"providerId":{"type":"integer","format":"int64"},"serviceId":{"type":"integer","format":"int64"},"availabilityId":{"type":"integer","format":"int64"}}},"CreateReservationResponse":{"type":"object","properties":{"bookingId":{"type":"integer","format":"int64"},"providerId":{"type":"integer","format":"int64"},"serviceId":{"type":"integer","format":"int64"},"availabilityId":{"type":"integer","format":"int64"},"customerId":{"type":"integer","format":"int64"},"slotDate":{"type":"string","example":"2026-04-20"},"bookingStatus":{"type":"string"},"createdAt":{"type":"string","example":"2026-04-20T09:30:00-05:00"}}},"EntityModelApiResponseCreateReservationResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CreateReservationResponse"},"traceId":{"type":"string"},"_links":{"$ref":"#/components/schemas/Links"}}},"AuthenticationRequest":{"required":["contrasena","correo"],"type":"object","properties":{"correo":{"type":"string"},"contrasena":{"type":"string"}}},"ApiResponseAuthenticationResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AuthenticationResponse"},"traceId":{"type":"string"}}},"AuthenticationResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"tokenType":{"type":"string"},"expiresIn":{"type":"integer","format":"int64"},"role":{"type":"string"}}},"UpdateOwnProfileRequest":{"type":"object","properties":{"nombres":{"maxLength":100,"minLength":0,"type":"string"},"apellidos":{"maxLength":100,"minLength":0,"type":"string"},"correo":{"maxLength":120,"minLength":0,"type":"string"}}},"ApiResponseUpdateOwnProfileResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UpdateOwnProfileResponse"},"traceId":{"type":"string"}}},"UpdateOwnProfileResponse":{"type":"object","properties":{"idUsuario":{"type":"integer","format":"int64"},"nombres":{"type":"string"},"apellidos":{"type":"string"},"correo":{"type":"string"}}},"ServiceStatusUpdateRequest":{"required":["targetStatus"],"type":"object","properties":{"targetStatus":{"type":"string"}}},"EntityModelApiResponseServiceStatusUpdateResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ServiceStatusUpdateResponse"},"traceId":{"type":"string"},"_links":{"$ref":"#/components/schemas/Links"}}},"ServiceStatusUpdateResponse":{"type":"object","properties":{"idServicio":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"estadoServicio":{"type":"string"}}},"EntityModelApiResponseReservationFinalizationResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ReservationFinalizationResponse"},"traceId":{"type":"string"},"_links":{"$ref":"#/components/schemas/Links"}}},"ReservationFinalizationResponse":{"type":"object","properties":{"bookingId":{"type":"integer","format":"int64"},"bookingStatus":{"type":"string"},"finalizedAt":{"type":"string","format":"date-time"}}},"ReservationReschedulingRequest":{"required":["availabilityId"],"type":"object","properties":{"availabilityId":{"type":"integer","format":"int64"}}},"EntityModelApiResponseReservationReschedulingResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ReservationReschedulingResponse"},"traceId":{"type":"string"},"_links":{"$ref":"#/components/schemas/Links"}}},"ReservationReschedulingResponse":{"type":"object","properties":{"bookingId":{"type":"integer","format":"int64"},"previousAvailabilityId":{"type":"integer","format":"int64"},"newAvailabilityId":{"type":"integer","format":"int64"},"previousDate":{"type":"string","format":"date"},"previousStartTime":{"type":"string","example":"00:00:00"},"previousEndTime":{"type":"string","example":"00:00:00"},"newDate":{"type":"string","format":"date"},"newStartTime":{"type":"string","example":"00:00:00"},"newEndTime":{"type":"string","example":"00:00:00"},"bookingStatus":{"type":"string"},"updatedAt":{"type":"string","format":"date-time"}}},"EntityModelApiResponseReservationCancellationResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ReservationCancellationResponse"},"traceId":{"type":"string"},"_links":{"$ref":"#/components/schemas/Links"}}},"ReservationCancellationResponse":{"type":"object","properties":{"bookingId":{"type":"integer","format":"int64"},"bookingStatus":{"type":"string"},"canceledAt":{"type":"string","format":"date-time"}}},"UserAccountStatusUpdateRequest":{"required":["targetStatus"],"type":"object","properties":{"targetStatus":{"type":"string"}}},"ApiResponseUserAccountStatusUpdateResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UserAccountStatusUpdateResponse"},"traceId":{"type":"string"}}},"UserAccountStatusUpdateResponse":{"type":"object","properties":{"idUsuario":{"type":"integer","format":"int64"},"correo":{"type":"string"},"estadoAnterior":{"type":"string"},"estadoActual":{"type":"string"}}},"UserRoleUpdateRequest":{"required":["roleName"],"type":"object","properties":{"roleName":{"maxLength":50,"minLength":0,"type":"string"}}},"ApiResponseUserRoleUpdateResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UserRoleUpdateResponse"},"traceId":{"type":"string"}}},"UserRoleUpdateResponse":{"type":"object","properties":{"idUsuario":{"type":"integer","format":"int64"},"correo":{"type":"string"},"rolAnterior":{"type":"string"},"rolActual":{"type":"string"}}},"ApiResponseString":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"string"},"traceId":{"type":"string"}}},"EntityModelApiResponseString":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"string"},"traceId":{"type":"string"},"_links":{"$ref":"#/components/schemas/Links"}}},"AvailabilityResponse":{"type":"object","properties":{"availabilityId":{"type":"integer","format":"int64"},"startTime":{"type":"string","example":"00:00:00"},"endTime":{"type":"string","example":"00:00:00"},"remainingSlots":{"type":"integer","format":"int64"}}},"EntityModelApiResponseListAvailabilityResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/AvailabilityResponse"}},"traceId":{"type":"string"},"_links":{"$ref":"#/components/schemas/Links"}}},"EntityModelApiResponseListProviderBookingResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ProviderBookingResponse"}},"traceId":{"type":"string"},"_links":{"$ref":"#/components/schemas/Links"}}},"ProviderBookingResponse":{"type":"object","properties":{"bookingId":{"type":"integer","format":"int64"},"serviceId":{"type":"integer","format":"int64"},"serviceName":{"type":"string"},"availabilityId":{"type":"integer","format":"int64"},"slotDate":{"type":"string","format":"date"},"startTime":{"type":"string","example":"00:00:00"},"endTime":{"type":"string","example":"00:00:00"},"customerId":{"type":"integer","format":"int64"},"customerFullName":{"type":"string"},"customerEmail":{"type":"string"},"bookingStatus":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"EntityModelApiResponseListOfferResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/OfferResponse"}},"traceId":{"type":"string"},"_links":{"$ref":"#/components/schemas/Links"}}},"OfferResponse":{"type":"object","properties":{"serviceId":{"type":"integer","format":"int64"},"serviceName":{"type":"string"},"serviceDescription":{"type":"string"},"providerName":{"type":"string"}}},"CustomerReservationResponse":{"type":"object","properties":{"bookingId":{"type":"integer","format":"int64"},"serviceId":{"type":"integer","format":"int64"},"serviceName":{"type":"string"},"providerId":{"type":"integer","format":"int64"},"providerFullName":{"type":"string"},"slotDate":{"type":"string","format":"date"},"startTime":{"type":"string","example":"00:00:00"},"endTime":{"type":"string","example":"00:00:00"},"bookingStatus":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"EntityModelApiResponseListCustomerReservationResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CustomerReservationResponse"}},"traceId":{"type":"string"},"_links":{"$ref":"#/components/schemas/Links"}}},"ApiResponseOperationalReportResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/OperationalReportResponse"},"traceId":{"type":"string"}}},"BookingsByProviderResponse":{"type":"object","properties":{"providerId":{"type":"integer","format":"int64"},"providerName":{"type":"string"},"total":{"type":"integer","format":"int64"}}},"BookingsByServiceResponse":{"type":"object","properties":{"serviceId":{"type":"integer","format":"int64"},"serviceName":{"type":"string"},"total":{"type":"integer","format":"int64"}}},"BookingsByStatusResponse":{"type":"object","properties":{"status":{"type":"string"},"total":{"type":"integer","format":"int64"}}},"OperationalReportResponse":{"type":"object","properties":{"from":{"type":"string","format":"date"},"to":{"type":"string","format":"date"},"totalBookings":{"type":"integer","format":"int64"},"activeBookings":{"type":"integer","format":"int64"},"completedBookings":{"type":"integer","format":"int64"},"cancelledBookings":{"type":"integer","format":"int64"},"cancellationRate":{"type":"number"},"completionRate":{"type":"number"},"occupancyRate":{"type":"number"},"bookingsByStatus":{"type":"array","items":{"$ref":"#/components/schemas/BookingsByStatusResponse"}},"bookingsByService":{"type":"array","items":{"$ref":"#/components/schemas/BookingsByServiceResponse"}},"bookingsByProvider":{"type":"array","items":{"$ref":"#/components/schemas/BookingsByProviderResponse"}}}},"AdminReservationSupervisionItemResponse":{"type":"object","properties":{"bookingId":{"type":"integer","format":"int64"},"customerId":{"type":"integer","format":"int64"},"customerFullName":{"type":"string"},"customerEmail":{"type":"string"},"providerId":{"type":"integer","format":"int64"},"providerFullName":{"type":"string"},"providerEmail":{"type":"string"},"serviceId":{"type":"integer","format":"int64"},"serviceName":{"type":"string"},"availabilityId":{"type":"integer","format":"int64"},"slotDate":{"type":"string","format":"date"},"startTime":{"type":"string","example":"00:00:00"},"endTime":{"type":"string","example":"00:00:00"},"bookingStatus":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"cancelledAt":{"type":"string","format":"date-time"},"finishedAt":{"type":"string","format":"date-time"}}},"ApiResponseListAdminReservationSupervisionItemResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/AdminReservationSupervisionItemResponse"}},"traceId":{"type":"string"}}},"Link":{"type":"object","properties":{"href":{"type":"string"},"hreflang":{"type":"string"},"title":{"type":"string"},"type":{"type":"string"},"deprecation":{"type":"string"},"profile":{"type":"string"},"name":{"type":"string"},"templated":{"type":"boolean"}}}},"securitySchemes":{"bearerAuth":{"type":"http","name":"bearerAuth","scheme":"bearer","bearerFormat":"JWT"}}}}